h1
{
    background-color: rgb(130, 130, 207);
    border: 3px rgb(36, 9, 158) solid; border-radius: 10px / 10px; box-shadow: 6px 6px 10px rgb(211, 240, 157); text-shadow: 6px 6px 6px rgb(216, 231, 187); width: 95%;min-width: 550px; text-align: center; margin-left: 10px;
}
h2{
    background-color: cadetblue;
    border: 3px rgb(87, 70, 62) solid; border-radius: 20px / 10px; box-shadow: 6px 6px 10px rgb(208, 223, 183); text-shadow: 5px 5px 5px rgb(202, 125, 73);
}

p .h2 .ul
{
    width: 80%;
    min-width: 200px;
    
}
img{
    border-radius: 40px; margin-bottom: 20px; margin-left: 75px; margin-top: 30px;
    }
h1, h2{
    text-align: center
}
.d{
    font-size: 1.2em;
}
.gauch{
    background-color: sandybrown; width: 50%; min-width: 300px; border: 3px solid black; border-radius: 20px 10px; padding-left: 10px;
}
#tt{
    display: flex; flex-direction: row-reverse; float: left; margin: auto;
}
.gg
{
border: 3px black solid; margin:auto; border-radius: 20px 10px; margin:auto; width: 50%; min-width: 650px;
}
.body
{
    border: 3px solid black; border-radius: 20px 10px; padding-left: 10px; width: 50%; min-width: 300px;
}

